<p>
  <b>Belongs to User:</b>
  <%=h @profile.user.email %>
</p>
<p>
  <b>Firstname:</b>
  <%=h @profile.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @profile.lastname %>
</p>

<p>
  <b>Avatar:</b>
  <%=h @profile.avatar %>
</p>

<p>
  <b>Additional infos:</b>
  <%=h @profile.additional_infos %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
