<h1>Listing ideas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Initiator</th>
  </tr>

<% for idea in @ideas %>
  <tr>
    <td><%=h idea.name %></td>
    <td><%=h idea.desc %></td>
    <td><%=h idea.initiator %></td>
	<td><%= link_to 'Participate!', :action => :user_participate, :id => idea.id %>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New idea', new_idea_path %>
