<p>
  <b>Name:</b>
  <%=h @idea.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @idea.desc %>
</p>

<p>
  <b>Initiator:</b>
  <%=h @idea.initiator %>
</p>
<p>
	<b>Participants: </b>
</p>
<% for p in @participants do %>
	<p><%= p.nick %></p>
<% end %>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
