<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Enc pwd:</b>
  <%=h @user.enc_pwd %>
</p>

<p>
  <b>Salt:</b>
  <%=h @user.salt %>
</p>

<p>
  <b>Nick:</b>
  <%=h @user.nick %>
</p>
<% for i in @user.ideas do %>
	<%= i.name %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
