<p>
  <b>Name:</b>
  <%=h @resource.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @resource.desc %>
</p>

<p>
  <b>Url:</b>
  <%=h @resource.url %>
</p>

<p>
  <b>Mime-type:</b>
  <%=h @resource.mime-type %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
